*{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.heading h1{
	font-size: 25px !important;
	background-color: #FF6565;
	text-align: center;
}

.tableHead{
	width: auto !important;
	/*background-color: #B2F797;*/
	text-align: left;
	border-bottom: 2px solid red;
}

table{
	width: 80%;
	margin: 0 10% 0 10%;
	border-collapse: collapse;
	overflow-x: auto;
}

td, tr{
	background-color: white;
	border-bottom: 1.5px solid black;
}

td:hover {background-color: #DCDCDC !important;}
tr:hover {background-color: #DCDCDC !important;};

.tableRowGrey{
	background-color: #DCDCDC !important;
}
