*{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.heading h1{
	font-size: 25px !important;
	background-color: #D7F5CB;
	text-align: center;
}

.body{
	width: 70%;
	margin: 0 15% 0 15%;
	border-bottom: 3px solid black;
	overflow-x: auto;
}

.tableHead{
	width: auto !important;
	background-color: #B2F797;
}

table{
	width: 100%;
	border-collapse: collapse;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

td, tr{
	background-color: white;
}
