*{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

body{

}

.heading h1{
	font-size: 50px !important;
	font-weight: bold;
	text-indent: 6px;
	color: #0d5109;
	width: 1200px;
	margin: 0 auto 0 auto;
}

.tableHead{
	width: auto !important;
	text-align: left;
	border-bottom: 3px solid #0d5109;
}

table{
	width: 1200px;
	margin: 0 auto 0 auto;
	border-collapse: collapse;
	overflow-x: auto;
}

td, tr{
	background-color: white;
	border-bottom: 1.5px solid black;
	text-indent: 6px;
	line-height: 25px;
}

.tableRowGrey{
	background-color: #e6e6e6 !important;
}
