html {
    font-size: 1rem !important;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: auto;
}

.container{
    margin-bottom:0;
}

/* @global: navigation bar */
.navbar-light .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    color: #272f35;
    padding: 2.5rem;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #d4002d;
    color: white !important;
}

 .navbar-light  .navbar-brand:focus,
.navbar-light  .navbar-brand:hover {
    color: white !important;
    opacity: 0.5;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #d4002d;
    color: white !important;
}

/* @global: breadcrumb bar */
.breadcrumb {
    line-height: 1;
}

.breadcrumb ul {
    margin: 0;
}

.breadcrumb li {
    padding: 1rem 2.5rem 1rem 0;
    position: relative;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

/* @global: breadcrumb bar - arrow-right between 2 breadcrumbs */
.breadcrumb a:after {
    content: 'chevron_right';
    font-family: 'Material Icons', serif;
    position: absolute;
    font-size: 1.3rem;
    right: 0.5rem;
    top: 0.9rem;
}

.breadcrumb li:last-of-type a:after {
    content: '';
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb a:hover {
    opacity: 0.7;
    color: white !important;
    cursor: pointer;
}


/* @global: heading */
.heading h1 {
    font-size: 2.5rem !important;
    font-weight: bold;
    color: black;
    width: 100%;
    padding-top: 50px;
    text-align: center;
}


#over{
    width: 80%;
    margin: 0 auto 0 auto;
    border-collapse: collapse;
}

/* @OverviewList: table */
.tableHead {
    width: auto !important;
    text-align: left;
    border-bottom: 3px solid #DA1F37;
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    width: 100%;
    margin: 0 auto 0 auto;
    border-collapse: collapse;
}

td, tr {
    background-color: white;
    border-bottom: 0.05rem solid black;
    padding-left: 1rem;
    line-height: 25px;
    padding-right: 1.5rem;
}

/* @OverviewList: table - not used */
.tableRowGrey {
    background-color: #e6e6e6 !important;
}

/* @addData: padding between each text field and the next label */
.form-group {
    padding-top: 1rem;
}

/* @addData: labels - a bit bigger than the rest */
.control-label {
    font-size: 1.25rem !important;
}

/* @addData: Status - radio buttons */
.radio-inline {
    padding-right: 3px;
    padding-left: 15px;
    font-size: 1rem !important;
}

/* @addData: Phone Number - addon for the number field */
.input-group-addon {
    font-size: 1rem;
    padding: 0.6rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    text-align: center;
    vertical-align: center;
    background-color: #e9ecef;;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group-addon {
    font-size: 1rem !important;
    vertical-align: center !important;
}


/* @OverviewList: hide print button on mobile */
#print-button {
    display: inline;
}

@media screen and (max-width: 768px) {

    #print-button {
        display: none;
    }
}